<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.timfeid.devils"
    android:targetSdkVersion="24">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/team_1_20172018_dark"
        android:label="@string/app_name"
        android:roundIcon="@drawable/team_1_20172018_dark"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:fullBackupContent="false">
        <activity android:name=".ScheduleActivity" />
        <activity android:name=".PlayerStatsActivity" />
        <activity android:name=".HamburgerActivity" />

        <service android:name=".FirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/devils_logo" />

        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter></activity>
        <activity
            android:name=".PlayerActivity"
            android:parentActivityName=".PlayerStatsActivity" />
        <activity android:name=".StandingsActivity" />
        <activity android:name=".MediaActivity" />
        <activity android:name=".NewsActivity" />
    </application>

</manifest>